.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #ccc;
}

.prev-month-btn,
.next-month-btn {
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 18px;
}

.prev-month-btn:hover,
.next-month-btn:hover {
  color:black;
}

.month-year {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.month {
  text-transform: uppercase;
  margin-right: 5px;
}

.year {
  margin-left: 5px;
}


.next{
    width: "10px";
    height: "10px";

}
.react-datepicker__month-container {
    background-color: #ffffff;
   box-shadow: 10px 10px 8px #888888;
}